@mixin grid-mixin($gtCol, $gtRow, $gAutoRow: initial, $gtAreas: none, $gap: initial, ){
    display: grid;
    grid-template-columns: $gtCol;
    grid-template-rows: $gtRow;
    grid-auto-rows: $gAutoRow;
    grid-template-areas: $gtAreas;
    gap: $gap;
}

@mixin flex-mixin($justCont: center, $alignItems: center, $flexFlow: initial){
    display: flex;
    justify-content: $justCont;
    align-items: $alignItems;
    flex-flow: $flexFlow;
}