$background-color-paper: rgb(246, 244, 241);
$background-color-cover: rgb(116, 73, 64);
  
$color-redMark: rgb(220, 59, 79);
$color-blueMark: rgb(31,107,143);
$color-golden: rgba(219, 214, 81, 0.5);
$color-redDelete: rgba(143, 24, 38);

$text-color-darkGray: rgb(66, 62, 58);

$font-size-base: 25px;