$background-color-paper: rgb(246, 244, 241);
$background-color-cover: rgb(116, 73, 64);
  
$color-redMark: rgb(220, 59, 79);
$color-salad: rgb(219, 236, 102);

$text-color-darkGray: rgb(66, 62, 58);

$font-size-base: 25px;