@import url('https://fonts.cdnfonts.com/css/tt-commons');
@import url('https://fonts.cdnfonts.com/css/livvic');

:root {
  --background-color-paper: rgb(246, 244, 241);
  --background-color-cover: rgb(116, 73, 64);
  
  --color-redMark: rgb(220, 59, 79);
  --color-salad: rgb(219, 236, 102);

  --text-color-darkGray: rgb(66, 62, 58);

  --font-familly-TTcommons: "TT commons", Helvetica, Arial, sans-serif;
  --font-familly-livvic: "livvic", Helvetica, Arial, sans-serif;

  --font-size-base: 25px;

  font-family: var(--font-familly-TTcommons);
  color: var(--text-color-darkGray);
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*{
  margin: 0;
  padding: 0;
  font-family: var(--font-familly-TTcommons);
  scroll-behavior: smooth;
}

p{
  font-size: var(--font-size-base);
}

h1{
  font-size: calc(var(--font-size-base)*3);
}

h2{
  font-size: calc(var(--font-size-base)*2);
}

h3{
  font-size: calc(var(--font-size-base)*1.5);
}