@use "../../../css/Variable/variable.scss" as *;

nav{
    display: flex;
    flex-flow: row nowrap;
    height: 160px;
    text-align: center;
    box-shadow: inset 0 -2px 5px rgba(0, 0, 0, 0.30);
    
    a{
        text-decoration: none;
        color: $background-color-paper;
    }
}

.ArrowUp{
    position:fixed;
    width: 50px;
    height: 50px;
    margin: 5px;
    z-index: 3;
    top: 90%;
    left: 20%;
}


.BookMark{
    position: relative;
    width: 60px;
    height: 100px;
    margin: 0 12px;
    padding: 15px 0 0 0;
    background-color: $color-redMark;
    clip-path: polygon(100% 0, 100% 100%, 50% 75%, 0 100%, 0 0);
    transition: 0.3s ease;

    &:hover {
        height: 120px;
    }
}